<div class="row">
    <div class="col">
        <form data-ng-submit="submit(record)">
            <div class="form-group">
                <label>Titulo</label>
                <input type="text" data-ng-model="record.title" class="form-control">
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <input type="text" data-ng-model="record.description" class="form-control">
            </div>
            <div class="form-group">
                <label>Carga Horária</label>
                <input type="text" data-ng-model="record.workload" class="form-control">
            </div>
            <div class="form-group">
                <label>Valor</label>
                <input type="text" data-ng-model="record.value" class="form-control">
            </div>
            <div class="form-group">
                <label>Alunos Matriculados</label>
                <select class="form-control" id="exampleFormControlSelect1" data-ng-model="studentSelected">
                    <option data-ng-repeat="student in students" ng-value="student">{{student.name}}</option>
                </select>
                <button type="button" class="btn btn-default" data-ng-click="insertStudent(studentSelected)">Inserir</button>
                <ul class="list-group">
                    <li class="list-group-item" 
                    data-ng-repeat="student in record.students"
                    data-ng-click="removeStudent($index)">
                        {{student.name}}
                    </li>
                </ul>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" ui-sref="course-index" class="btn btn-link">Voltar</button>
        </form>
    </div>
</div>